.split-pane *.split-pane-divider {
    -fx-padding: 1 0.5 1 0.5;
}

.root{
    -fx-base: #333333;
    -fx-background-color: #333333;
	-fx-font-color: white;
    -fx-focus-color: #333333; 
	-fx-border-color: #333333;
	-fx-text-box-color: #333333;
}

.text-area {
	-fx-control-inner-background:#333333;
	-fx-font-family: Consolas; 
	-fx-font-color: white;
}

.styled-text-area {
    -fx-background-color: #333333;
}

.text {
	-fx-fill: white;
}

.styled-text-area .lineno {
	-fx-background-color: #333333;
}

.styled-text-area .lineno .text {
    -fx-fill: gray;
}

.caret {
    -fx-stroke: white;
}

.keyword {
    -fx-fill: #FFC66D;
    -fx-font-weight: bold;
}